# Folders
code/PDB/
code_supl/
db/
error_logs_to_fix/
input/
PDBfam/
reports/
results/
scowlp/

# Hidden files
.*

# Compiled source code
*.pyc
*.o

# Logs and databases
*.log
*.sql

# Documentation
*.docx
*.doc

# Git Windows configuration file
.gitattributes
