# Files
*.pyc
*.bak

# Folders
_build
__pycache__
*.egg-info

# Hidden
.*
!.gitignore
!.travis.yml
!.gitlab-ci.yml

# Logs and backups
*.log
*.bak

# Configuration files with private information
config/*.ini
elaspic/data/ml_clf_*

# Files not ready for release
TODO.md
docs/datasets.rst
docs/introduction/elaspic_flowchart.pptx
docs/introduction/elaspic_flowchart_database.pptx
docs/introduction/elaspic_flowchart_local.pptx
