# Compiled source code
*.pyc
*.o

# Binary and configuration files
*.dat
*.ini
*.spyderproject

# Logs and databases
*.log
*.sql

# Folders
backup/
input/
results/

# Documentation
*.docx
*.doc

# Git Windows configuration file
.gitattributes
